body {
  margin: 0;
}
.main {
  height: 100vh;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}
.eye {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  animation: animateye 5s linear infinite alternate-reverse;
}
.eye-pop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: animate 6s linear infinite alternate-reverse;
  width: 45%;
  height: 45%;
}
@keyframes animate {
  10%,
  15% {
    top: 36%;
    left: 61%;
  }
  16% {
    top: 38%;
    left: 61%;
  }
  18% {
    top: 40%;
    left: 61%;
  }
  20% {
    top: 42%;
    left: 65%;
  }
  50% {
    top: 60%;
    left: 30%;
  }
  65% {
    top: 50%;
    left: 40%;
  }
}
@keyframes animateye {
  10%,
  15% {
    transform: translate(0);
  }
  16% {
    transform: translate(5px, 5px);
  }
  18% {
    transform: translate(10px, 10px);
  }
  20% {
    transform: translate(14px, 14px);
  }
  50% {
    transform: translate(18px, 18px);
  }
  65% {
    transform: translate(22px, 22px);
  }
}
